<ul>
	<% @luftballons.each do |luftballon| %>
	  <li> 
	  	<img 
	  	  src="/images/<%= luftballon.color %>.jpg" 
	  	  height=20 
	  	  width=<%= 20 %>/>
	  	<%= link_to luftballon.inscription, luftballon_url(luftballon) %> 
	  </li>
	<% end %>
</ul>

<%= link_to "Create a New Luftballon!", new_luftballon_url%>
<br>
<%= link_to "Reserve a Luftballon!", new_luftballon_rental_request_url%>