<h1><%= @luftballon.inscription%></h1>

<table align="left">
	<tr>
		<th>Color</th>
		<th>Gas Type</th>
		<th>Psi</th>
		<th>Origin</th>
		<th>Manufacture Date</th>
	</tr>
	<tr>
		<% [:color,:gas,:psi,:origin,:manufacture_date].each do |attr| %>
		  <td><%= @luftballon.send(attr) %> </td>
		<% end %>
	</tr>
</table>
<br>
<br>
<br>
Reservations:
<ul>
<% LuftballonRentalRequest.where("luftballon_id = ?", @luftballon.id).each do |reservation|%>
<li><%= reservation.start_date %> ~ <%= reservation.end_date %> <%= reservation.status %></li>
<% end %>
</ul>

<%=link_to "Edit this Luftballon", edit_luftballon_url(@luftballon)%>
<br>
<%=link_to "Delete this Luftballon", luftballon_url(@luftballon), :method => :delete%>
<br>
<%=link_to "Return to Luftballon Index", luftballons_url%>
