<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineLuftballons</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  Willkommen auf 99 Luftballons!
  <br>
  <% if !!current_user %>
    <%= current_user.user_name %> <%= link_to "Log Out", session_url, :method => "delete" %>
  <% else %>
    <%= link_to "Sign In", new_session_url %>
  <% end %>
  <hr>
</head>
<body>

<% if !!flash[:notice] %>
	<%= flash[:notice] %>
<% end %>

<%= yield %>

</body>
</html>
